
@model Category

@section title {
    @if (Model != null){
        <p>Category: @Model.Name</p>
    }  
}
<form method="post" asp-controller="categories" asp-action="edit">
    <div class="row mb-3">
        <div class="col-2">
            <label class="col-form-label" asp-for="Name">Name</label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Name" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <label  class="col-form-label" asp-for="Description">Description</label>
        </div>
        <div class="col-6">
            <input asp-for="Description" type="text" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="col-6">
           
        </div>
    </div>

</form>


